{% extends "base.html" %}
{% block title %}Приветствие{% endblock %}
{% block content %}
  <h2>E9.11 Многопользовательский сервис планирования событий</h2>
  <br>
  <p>Приложение реализует сервис для планирования событий.</p>
  <p>Используется Flask и PostgreSQL.</p>
  <p>Все команды доступны через динамическое меню. Для разных случаев и разных пользователей доступен свой набор пунктов меню и кнопок.</p>
  <br>
  <p>Возможности:</p>
  <p>1. Создание пользователя.</p>
  <p>2. Вход (Login).</p>
  <p>3. Выход (Logout).</p>
  <p>4. Просмотр всех событий.</p>
  <p>5. Редактирование своих событий.</p>
  <p>6. Удаление своих событий.</p>
  <br>
  <p>Приложение расположено на витруальном сервере по согласованию с ментором.</p>
{% endblock %}